<div class='container-fluid'>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-3">
			<img src="{{ctrl.user.img_src}}" width="200px" height="200px">
			<h3>{{ctrl.user.username}}</h3>
			<h5>{{ctrl.user.email}}</h5>
			<button class="btn btn-success"  ng-click="ctrl.blockUser()" ng-show="role=='admin' && !ctrl.user.blocked && ctrl.user.role!='admin'" >BLOCK</button>
			<span class="badge" ng-show="ctrl.user.blocked">BLOCKED</span>
					
		</div>
		<div class="col-md-5">

			<div class="tab-container">
    			<ul class="nav nav-tabs">
      				<li class="active"><a data-target="#mysnippets" data-toggle="tab">snippets</a></li>
				    <li><a data-target="#languages" data-toggle="tab" ng-show="role=='admin' && name==ctrl.user.username" ng-click="ctrl.getLanguages()">languages</a></li>
				    <li><a data-target="#numbers" data-toggle="tab" ng-show="role=='admin'  && name==ctrl.user.username">stuff</a></li>
				</ul>
				<div class="tab-content">

					<!-- my snippets -->
					<div class="tab-pane active cont" id="mysnippets">
						<a  href="#/add_snippet" class="btn btn-block btn-primary" ng-show="name==ctrl.user.username">create new snippet</a>
						<div>
							<p ng-show="ctrl.snippets.length==0">no snippets here...</p>
							<ul class="list-group">

								<!-- snippet list -->
								<div ng-repeat="c in ctrl.snippets">
								<li class="list-group-item clearfix" >
									<a href="#/snippet/{{c.id}}">{{c.desc}}</a>									
									<span class="pull-right button-group">
										<span class="badge">{{c.language}}</span>
										<span 
											style="cursor:pointer" 
											class="glyphicon glyphicon-remove" 
											ng-show='name==ctrl.user.username' 
											ng-click="ctrl.remove(c.id)">
										</span>
									</span>
								</li>
								
								</div>
							</ul>
						</div>
					</div>

					<!-- languages -->
				    <div class="tab-pane cont" id="languages">
				    	<ul class="list-group">
				    		<li class="list-group-item" ng-repeat="l in ctrl.languages">{{l}}</li>
				    	</ul>
				    	<form name="addlangForm">
				    		<div class="form-group">
								<center><label for="lan">Add language:</label><center>
							<input id="lan" type="text" class="form-control" ng-model="ctrl.language" required>
							<button class="btn btn-success" ng-disabled="registerForm.$invalid" ng-click="ctrl.addLanguage()">Submit</button>
					
						</center>
					</div>

				    </div>

				    <!-- numbers -->
				    <div class="tab-pane cont" id="numbers">
				    	some unrelated admin stuff here
				    </div>
				</div>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>