<div class="container-fluid">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<div ng-show="ctrl.step==1">
				<form name="registerForm">
					<h1>Register</h1>
					<div class="form-group">
						<center><label for="usr">Username:</label><center>
						<input id="usr" type="text" class="form-control"  ng-change="ctrl.checkUsername()" ng-model="ctrl.username" required>
						<span class="glyphicon glyphicon-remove" ng-show="ctrl.usernameTaken"></span>
			       		<span class="glyphicon glyphicon-ok" ng-show="!ctrl.usernameTaken"></span>
					</div>
					<div class="form-group">
						<center><label for="pass">Password:</label><center>
						<input id="pass" type="password" class="form-control" ng-model="ctrl.password" required>
					</div>
					<div class="form-group">
						<center><label for="email">Email:</label><center>
						<input id="email" type="text" class="form-control" ng-model="ctrl.email" required>
					</div>
					<div class="form-group">
						<center><label for="fname">First Name:</label><center>
						<input id="fname" type="text" class="form-control" ng-model="ctrl.fname" required>
					</div>
					<div class="form-group">
						<center><label for="lname">Last Name:</label><center>
						<input id="lname" type="text" class="form-control" ng-model="ctrl.lname" required>
					</div>
					<div class="form-group">
						<center><label for="address">Address:</label><center>
						<input id="address" type="text" class="form-control" ng-model="ctrl.address" required>
					</div>
					<div class="form-group">
						<center><label for="phone">Phone:</label><center>
						<input id="phone" type="text" class="form-control" ng-model="ctrl.phone" required>
					</div>
					<hr>
					<button class="btn btn-success" ng-disabled="registerForm.$invalid || ctrl.usernameTaken" ng-click="ctrl.register()">Submit</button>
					<p ng-show="ctrl.error">register error</p>
				</form>

			</div>
			<div ng-show="ctrl.step==2">

				<h1>You have successfully registered</h1>
				<h2>setup your avatar</h2>
				<button class="btn btn-success" href="#/">Upload</button>
				<button class="btn btn-success" ng-click="ctrl.skip()">Skip</button>

			</div>
		</div>
		<div class="col-md-4"></div>
	</div>
</div>