<div class="container-fluid">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-3">
			<!-- details-->
			<h2>Details</h2>
			<hr>
			<span class="badge">{{ctrl.snippet.language}}</span>
			<center>Description</center>
			<div style="height:150px;">  {{ctrl.snippet.desc}}</div>
			Url: <a  target="_blank" href="http://{{ctrl.snippet.url}}">{{ctrl.snippet.url}}</a>
			<p>Owner:<a  href="#/profile/{{ctrl.snippet.owner}}" > {{ctrl.snippet.owner}}</a></p>
			<hr>
			<button class="btn btn-success"  ng-click="ctrl.lockSnippet()" ng-show="role=='admin' && !ctrl.snippet.locked" >LOCK</button>			
			<button class="btn btn-success"  ng-click="ctrl.unlockSnippet()" ng-show="role=='admin' && ctrl.snippet.locked" >UNLOCK</button>
			<button class="btn btn-danger" 	 ng-click="ctrl.deleteSnippet()"  ng-show="role=='admin'">DELETE</button>
			<span class="badge" ng-show="ctrl.snippet.locked">LOCKED</span>
		</div>

		<div class="col-md-5">
			<!-- code-->
			<p >Code:</p>
			<textarea ng-model="ctrl.snippet.code" style="resize :none ; width:100% ;height:400px; y-overflow:false;" id="txt" disabled="" ></textarea>
			
			<!-- add comment-->
			<div>
				<center>Comments</center>
				<form name="addCommentForm"	>
					<div class="row"
						style="border: 2px solid; padding: 10px">
						<div class="col-md-3">
							<img 
								src="{{img_src}}" 
								width="100px"
								height="100px">
							</div>
						<div class="col-md-9">
							<textarea 
								style="width:100%; height:100px; resize:none ;y-overflow:false;" 
								ng-model="ctrl.text" 
								ng-disabled="ctrl.snippet.locked"
								required>
							</textarea>
						</div>
					</div>
					<div class="row">
						<div class="col-md-9">
						</div>
						<div class="col-md-3">
							<button 
								class="btn btn-success"
								ng-click="ctrl.addComment()"
								ng-disabled="ctrl.snippet.locked || addCommentForm.$invalid">
								Comment
							</button>
						</div>
					</div>
				</form>

				<!-- comments -->
				<div ng-repeat="c in ctrl.snippet.comments">
					<div class="row">
						<div class="col-md-3">
							<img
								src="{{c.owner_img}}"
								width="100px"
								height="100px">
							<a href="#/profile/{{c.owner}}" >{{c.owner}}</a>
						</div>
						<div class="col-md-9">
							<textarea
								style="width:100%; height:100px; resize:none ;y-overflow:false;" 
								ng-model="c.text" 
								disabled>								
							</textarea>
						</div>
					</div>
					<div class="row">
						<div class="col-md-10">
							{{c.grade.positive}}
							<span
								style="cursor:pointer"
								class="glyphicon glyphicon-plus" 
								ng-click="ctrl.addGrade(c.id,true)" 
								href="javascript.void(0)"
								ng-show="!c.grade.users.includes(name) && name!='guest'" >
							</span>
							<span ng-show="c.grade.users.includes(name) || name=='guest'" class="glyphicon glyphicon-plus" ></span>
							{{c.grade.negative}}
							<span
								style="cursor:pointer"
								class="glyphicon glyphicon-minus" 
								ng-click="ctrl.addGrade(c.id,false)" 
								href="javascript.void(0)"
								ng-show="!c.grade.users.includes(name) && name!='guest'" >
							</span>
							<span ng-show="c.grade.users.includes(name) || name=='guest'" class="glyphicon glyphicon-minus" ></span>
						</div>
						<div class="col-md-2">
							<span
								style="cursor:pointer"
								class="glyphicon glyphicon-remove" 
								ng-click="ctrl.deleteComment(c.id)" 
								href="javascript.void(0)"
								ng-show="(name==c.owner || role=='admin') && name!='guest'" >
							</span>
						</div>
					</div>
					<hr>
					</div>
			</div>

		</div>

		
		<div class="col-md-2"></div>
	</div>
</div>